# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/
env/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# CSV files (data)
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Environment variables
.env